body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

audio {
  margin-top: 20px;
}
.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button:not(:has(input)),
  label.audio {
    border-radius: 1rem;
    padding: 18px 10px;
    font-weight: bold;
    border: none;
    background-color: rgb(248, 69, 37);
    border: 1px solid rgb(248, 69, 37);
    color: rgb(248, 244, 243);
    transition: all 200ms ease;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      color: rgb(248, 69, 37);
      background-color: rgb(248, 244, 243);
    }
  }
  audio::-webkit-media-controls-panel {
    background-color: rgb(248, 69, 37);
    color: rgb(248, 244, 243);    
  }
  audio::-webkit-media-controls-current-time-display ,
  audio::-webkit-media-controls-time-remaining-display,
  audio::-webkit-media-controls-timeline {
    color: rgb(248, 244, 243);    
  }
  /* Play button */
audio::-webkit-media-controls-play-button {
  background-color: rgb(248, 69, 37);
  color: rgb(248, 244, 243);
}

/* Pause button */
audio::-webkit-media-controls-pause-button {
  background-color: rgb(248, 69, 37);
  color: rgb(248, 244, 243);
}

/* Progress bar */
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
  background-color: rgb(248, 69, 37);
}

/* Progress bar fill */
audio::-webkit-media-controls-progress-bar {
  background-color: rgb(248, 244, 243); /* Color of the progress fill */
}

/* Volume slider */
audio::-webkit-media-controls-volume-slider {
  background-color: rgb(248, 244, 243); /* Slider track color */
}

/* Options menu */
audio::-webkit-media-controls-volume-slider {
  color: rgb(248, 244, 243); /* Slider knob color */
}

  
}
.col{
  display: flex;
  flex-direction: column;
}
.output {
  display: flex;
  align-items: center;
  audio{
    margin: auto;
  }
}

/* Loader.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it overlays above other content */
}

.loader {
  --size-bar: 0.4vmin;
  display: block;
  position: relative;
  width: 6vmin; /* Width for the loader */
  height: 3vmin; /* Height for the loader */
}

.loader-bar {
  height: 3vmin;
  width: var(--size-bar);
  background-color: white;
  animation: loader-5 0.6s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

.loader-bar:first-child {
  left: calc(50% - 1vmin);
  top: calc(50% - 3vmin);
}

.loader-bar:last-child {
  left: calc(50% + 1vmin);
  top: calc(50% - 1vmin);
  animation-delay: 0.2s;
}

@keyframes loader {
  0%,
  88%,
  100% {
    opacity: 0;
  }

  0% {
    transform: translateY(-6vmin);
  }

  33% {
    opacity: 1;
  }

  33%,
  88% {
    transform: translateY(3vmin);
  }
}
